<body class="font-sans bg-cover bg-center " style="background-image: url('https://scontent.fcue2-1.fna.fbcdn.net/v/t1.6435-9/57119594_2563905873623078_2918171462902743040_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=dd63ad&_nc_ohc=x_V3YJIxs74AX-bR0Bu&_nc_ht=scontent.fcue2-1.fna&oh=00_AfAj-wOmYDPF04gCBmC2Q8UWwA_jZN-MHZRwTU8-Yb_g0A&oe=65DE53EA')">
   
    <div class="min-h-screen">
        
        <nav class="bg-black bg-opacity-60 text-white py-4 ">
           <div class="container mx-auto flex justify-between items-center px-6">
               <img src="https://www.edina.com.ec/logos/1220119508-380464.jpg" class="w-20" alt="logo"> 
               <ul class="flex space-x-4">
                   <li><a href="#" class="hover:bg-coral hover:text-black hover:font-bold">INICIO</a></li>
                   <li><a href="#" class="hover:bg-coral hover:text-black hover:font-bold">ACERCA DE</a></li>
                   <li><a href="#" class="hover:bg-coral hover:text-black hover:font-bold">CURSOS</a></li>
                   <li><a href="#" class="hover:bg-coral hover:text-black hover:font-bold">EVENTOS</a></li>
                   <li><a href="#" class="hover:bg-coral hover:text-black hover:font-bold">GALERÍA</a></li>
                   <li><a href="#" class="hover:bg-coral hover:text-black hover:font-bold">BLOG</a></li>
                   <li><a href="#" class="hover:bg-coral hover:text-black hover:font-bold">PÁGINAS</a></li>
                   <li><a href="#" class="hover:bg-coral hover:text-black hover:font-bold">CONTACTO</a></li>
               </ul>
           </div>
        </nav>
