<div class=" bg-gradient-to-r from-yellow-400 via-white-100 to-yellow-400 bg-opacity-100 mx-auto px-6 py-16">
    <h1 class="text-black text-5xl leading-tight mb-4 "> UNA MEJOR EDUCACIÓN  PARA UN MUNDO MEJOR</h1>
    <p class="text-gray50 mb-8 ">Somos una Unidad Educativa que siempre está innovando en educación</p>



    <div class="flex space-x-4 mt-8 ">
        <button class="bg-orange-500 text-white py-2 px-4 rounded-lg">Aula Virtual</button>
        <button class="bg-orange-500 text-white py-2 px-4 rounded-lg">Proyectos</button>
        <button class="bg-orange-500 text-white py-2 px-4 rounded-lg">Biblioteca digital</button>
        <button class="bg-orange-500 text-white py-2 px-4 rounded-lg">Noticias</button>
    </div>

    

</div>

<section class=" bg-stone-300      py-16">
    <h1 class="text-center text-3xl mb-10">CURSOS POPULARES</h1>
    <div id="courses" class="flex justify-around text-center">

        <div class="flex-1 px-4" style="display: flex; justify-content: space-between;">
            <div>
                <h3 class="text-lg mb-3">Ingles</h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtlYVRL7-kQGmbCVv-fXS0v3KFfqGYWOgQ_Q&usqp=CAU"
                    class=" w-50  h-25 rounded-lg border-2 border-black mb-4" alt="cs">
                <a href="#" class="bg-orange-500 text-white py-2 px-4 rounded-lg">Aplicar</a>
            </div>
            <div>
                <h3 class="text-lg mb-3">Computación</h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT46nuXQXMu4yKq7fSHboKBneEGm94HLhrNcg&usqp=CAU"
                    class=" w-50  h-25 rounded-lg border-2 border-black mb-4" alt="cs">
                <a href="#" class="bg-orange-500 text-white py-2 px-4 rounded-lg">Aplicar</a>
            </div>
            <div>
                <h3 class="text-lg mb-3">Lectura</h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYeh3-RIM67MCtizdY3B-Tvr401uZBKYtX6aPIL3_uzAhWRgwUvMzKrNUwzdVwRh6vDfY&usqp=CAU"
                    class=" w-50  h-25 rounded-lg border-2 border-black mb-4" alt="cs">
                <a href="#" class="bg-orange-500 text-white py-2 px-4 rounded-lg">Aplicar</a>
            </div>
        </div>



    </div>
</section>
